[submodule "dep/vcpkg"]
	path = dep/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "dep/Catch2"]
	path = dep/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "dep/eigen"]
	path = dep/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "dep/corrade"]
	path = dep/corrade
	url = https://github.com/mosra/corrade.git
[submodule "dep/magnum"]
	path = dep/magnum
	url = https://github.com/mosra/magnum.git
